.storybook-input-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 200px;
}

.storybook-input {
  outline: none;
  font-weight: 400;
  width: 100%;
}

.storybook-input--none {
  border: 1px solid #ced4da;
}

.storybook-input--success {
  border: 1px solid #157347;
}

.storybook-input--danger {
  border: 1px solid #dc3545;
}

.storybook-input--warning {
  border: 1px solid #ffc107;
}

.storybook-input--sm {
  padding: 0.2rem;
  font-size: 12px;
}

.storybook-input--md {
  padding: 0.4rem;
  font-size: 14px;
}

.storybook-input--lg {
  padding: 0.6rem;
  font-size: 16px;
}

.storybook-helper-text {
  font-size: 12px;
  color: #b74444;
  font-weight: bold;
  margin-top: 0.2em;
}
